<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div>
        <b>Navegación:</b>
        <ul>
          <li><%#= link_to 'Cosas', cosas_path %></li>
        </ul>
      </div>
      <div id="flash-container">
        <%= flash.to_json.html_safe %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= content_for(:title) %>
        </div>
        <div class="col-sm-6">
          <%= content_for(:actions) %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
