<nav class="navbar navbar-expand-<%= @breakpoint_navbar_expand %>" data-bs-theme="dark">
  <div class="container-fluid">
    <% unless @sidebar == false %>
      <button data-controller="navbar" data-action="navbar#expandNavbar"
              class="btn btn-outline-light me-2 d-none d-<%= @breakpoint_navbar_expand %>-inline-block">
        <i class="bi <%= @navbar_chevron_class %>"></i>
      </button>

    <% end %>
    <% @navbar.extensiones.each do |extension| %>
      <%= extension %>
    <% end %>
    <% if Current.user.present? %>
      <button type="button" class="btn btn-primary btn-sm position-relative"
                            data-bs-toggle="collapse" data-bs-target="#notifications-collapse">
        <i class="bi-bell-fill fs-5 text-light"></i>
        <% if @unseen_notifications %>
          <span class="position-absolute p-1 xbg-danger bg-gradient rounded-circle start-50 notifications-unseen-mark">
          </span>
        <% end %>
      </button>
    <% end %>
    <%= @navbar.logo if @navbar.logo.present? %>
    <button class="btn btn-outline-light d-inline-block d-<%= @breakpoint_navbar_expand %>-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <i class="bi bi-list"></i>
    </button>
  </div>
</nav>
<div class="collapse" id="notifications-collapse" data-controller="notifications">
  <div id="notifications">
    <div id="notifications-inner">
      <% if @notifications.any? %>
        <%= render NotificationComponent.with_collection(@notifications) if @notifications&.any? %>
      <% else %>
        <span class="text-light">
          No hay notificaciones
        </span>
      <% end %>
      <div class="text-center">
        <button type="button" class="btn btn-link text-light btn-sm" data-bs-toggle="collapse" data-bs-target="#notifications-collapse">
          <i class="bi-chevron-up fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="(max-width: 767px)">
  .navbar .navbar-brand {
    visibility:visible!important;
  }
</style>
