<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header" data-bs-theme="dark">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <% if user_signed_in? %>
      <span class="text-light"><%= Current.user %></span>
      <hr>
    <% end %>
    <ul class="list-unstyled mt-4">
      <% @navbar.sidebar.each do |entry| %>
        <% next if @navbar.hide_entry?(entry) %>

        <li>
          <a
            href="<%= entry[:path] %>"
            class="text-light <%= @navbar.active_entry?(entry, request) ? 'active' : '' %>"
            <%= entry[:attributes] %>
          >
            <%= entry[:title] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<style type="text/css">
  .offcanvas a {
    text-decoration: none;
  }
  .offcanvas li {
    margin-top: 0.75em;
  }
</style>
